<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
	<form action="/" name="form" method="post">
		<input type="text" name="code" id="code" title="Username" />
		<button type="submit"  style="margin-right: 15px;" onClick="document.form.submit()">Submit</button>
		<p>

	</form>

	<form action="/" name="form2" method="post">
                <input type="hidden" name="code" id="code" title="code" />
                <button type="submit"  style="margin-right: 15px;" onClick="document.form2.code.value=20; document.form2.submit()">SubmitOff</button>
                <p>
                <button type="submit"  style="margin-right: 15px;" onClick="document.form2.code.value=28; document.form2.submit()">SubmitOn</button>
        </form>
</body>
</html>
